* {
    word-break: keep-all;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: -apple-system-body;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Text Elements */
h1,h2 {
    margin: 2rem;
}
h1 {
    font-size: 1.7em;
    margin-bottom: 20px;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
p {
    line-height:1.8;
    margin-bottom: 10px;
}

a {
    color: inherit;
}
/* Typography */

/* Content Elements */
body {
    background: #FFF;
    color: #232323;
    text-align: center;
}

footer {
    margin:2rem;
    color: #8a8a8a;
}

img {
    width: 100%;
    max-width: 600px;
    height:auto;
}
.imageContainer {
    position:relative;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 4px;
    text-align: center;
}

/* Content Elements */

/* NitPicky Stylings */
.poem {
    line-height: 2;
    color: #232323;
}
.suffix {
    font-size:0.9rem;
}

#parents {
    margin:2rem;
    line-height:2.5;
}
#date {
    margin:2rem;
    line-height:2;
}
#address {
    color:#8a8a8a
}
#invite {
    margin:2rem;
    line-height:2;
}
/* NitPicky Stylings */

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ddd;
    }
}

/* Dynamic layout */
@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

.gallery {
    margin-top: 40px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: 100vh;
    gap: 1rem;
}
.img-container {
    overflow: hidden;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
img {
    color: white; /* To set alt text color to white */
}
.img-container img:hover {
    transform: scale(1.2);
}
.modal {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}
.modal.open {
    opacity: 1;
    pointer-events: all;
}
.modal p {
    position: absolute;
    color: white;
    font-size: 1.7rem;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
}
.full-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    transition: all 0.25s ease-out;
}
.full-img.open {
    transform: translate(-50%, -50%) scale(1);   
}